:root {
    --white: #ffffff;
    --dark: #212121;
    --primary: #FFC107;
    --secondary: #0097A7;
    --gray: #757575;
    --less-gray: #DFE9F3;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

/* h1,h2,h3 {
    text-align: center;
} */

a {
    text-decoration: none;
    color: var(--white);
}

a:hover{
    cursor: pointer;
    color: var(--dark);
}

.body{
    font-family: 'Krub', sans-serif;
}


.navbar{
    font-family: 'Krub', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary);
    color: var(--white);
    border-left: 1rem solid var(--primary);
}

.navbar-title{
    margin-left: 80px;
}

.links{
    width: 300px;
    display: inline-flex;
    justify-content: space-around;
    color: var(--white);
    margin-right: 150px;
    /* border: 1.8px solid black; */
}


.main-about-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--gray);
    color: var(--white);
    height: auto;
    font-family: 'Krub', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: -1px -1px 25px -8px rgba(0,0,0,0.58);
    /* border-radius: 12px; */
    overflow: hidden;
}

.about-container{
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* border: 1.8px solid black; */
}

.about-title{
   display: flex;
   float: left;

}

.about-information{
    width: 750px;
    margin-bottom: 25px;
}

.about-images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.about-logos{
    padding: 5px;
}

.about-logos:hover{
     border-bottom: 1.8px solid var(--less-gray);
    /* box-shadow: -1px -1px 25px -8px rgba(0,0,0,0.58); */
}

.main-container{
    padding: 0px;
}


.grid-container{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap:25px; */
    width: 100%;
    /* border: 1.8px solid black; */
}

.chart-container{
    width: auto;
    border: 1.5px solid var(--primary);
    border-radius: 12px;
    box-shadow: -1px -1px 25px -8px rgba(0,0,0,0.58);
}

.chart-data{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 0;
}
.item-title{
    list-style-type: none;
    color: var(--gray);
}

.item-value{
    font-size: 25px;
    color: var(--dark);
}

.footer{
    font-family: 'Krub', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary);
    color: var(--white);
    border-right: 1rem solid var(--primary);
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer-info{
    margin-left: 80px;
}


.column {
    font-family: 'Krub', sans-serif;
    float: left;
    width: 25%;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: var(--dark);
    background-color: var(--primary);
    /* border-radius: 12px; */
    /* border: 1.5px solid var(--gray); */
  }

  .column:hover{
    border-bottom: 1.8px solid var(--dark);
  }

  .tab {
    padding: 20px;
    color: var(--dark);
    display: flex;
    flex-direction: column;
  }

  .row{
    width: auto;
    display: flex;
    flex-direction: row;
  }

  .row:after {
    overflow: hidden;
    display: table;
    clear: both;
  }

  .closeButton {
    float: right;
    color: var(--dark);
    font-size: 35px;
    cursor: pointer;
  }

.list-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 1.8px solid black; */
}

.list-menu{
    font-family: 'Krub', sans-serif;
    display: flex;
    flex-direction: row;
    background-color: var(--less-gray);
    /* border: 1.8px solid black; */
    padding: 0px;
}

.list-menu li{
    list-style: none;
    background: var(--white);
    cursor: pointer;
}

.list-menu li label{
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--primary);
    border: 1.8px solid var(--less-gray)
}

.list-menu li label:hover{
    color: var(--white)
}

.list-menu label + input[type="radio"]{
    display: none;
}

.list-menu label + input[type="radio"]:checked + .content{
    max-height: 400px;
}

/* .list-menu li label{
    background-color: var(--less-gray);
} */

.list-menu li label span{
    display: inline-block;
    font-size: 22px;
    transform: rotate(90deg);
    margin-right: 40px;
}

.content{
    overflow: hidden;
    transition: max-height 0.5s;
    max-height: 0;
}